@model Contato
@{
}
<div class="text-center">
    <h3 class="display-4">Deseja apagar contato</h3>
    <br/>
    <form asp-action="Apagar">
    <a class="btn btn-danger btn-block" role="button" asp-area="Contatos" asp-action="Criar">Cacelar exclusão</a>
    <button type="submit" class="btn btn-primary btn-block">Confirmar a exclusão</button>
    </form>
</div>
<a class="btn btn-secondary btn-block" asp-area="Contatos" asp-action="Criar">Voltar</a>