@model Contato
@{
    
}

<div class="text-center">
    <h1 class="display-4">Cadastrar novo contato</h1>
</div>

<form asp-action="Criar" method="post">
<div class="mb-3 row">
    <label asp-for="Name"><i class="bi bi-person"></i>Nome</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome">
</div>
<div class="mb-3 row">
    <label asp-for="Email" ><i class="bi bi-envelope"></i>Email</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email">
</div>
<div class="mb-3 row">
    <label asp-for="Phone"><i class="bi bi-telephone"></i>Telefone</label>
    <input type="text" asp-for="Phone" class="form-control" placeholder="Digite o telefone">
</div>
    <button type="submit" class="btn btn-primary btn-block"><i class="bi bi-pencil-fill"></i>Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-area="Contatos" asp-action="Criar" role="button">
    <i class="bi bi-back"></i>Voltar</a>
 </form>