@{
    ViewData["Title"] = "Criando Contatos";
}
<div class="text-center">
    <h1 class="display-4">Adcionar Contatos</h1>
    <table class="table">
        <thead>
             <a class="btn btn-primary" id="adcionar" role="button" asp-area="Contatos" asp-action="Cadastrar">Adcionar contato</a>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Jhonz</th>
                <td>Jhon@gmail.com</td>
                <td>343864767</td>
                <td>
                    <a class="btn btn-primary" asp-area="Contatos" asp-action="Editar" role="button">Editar</a>
                    <a class="btn btn-outline-danger" asp-area="Contatos" asp-action="Apagar" role="button">Apagar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
