@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <div class="titulo3">
    <img src="@Url.Content("~/images/Contatos.png")" alt="Descrição da imagem" />
    </div>
    <br>
    <h1 class="display-4"><span class="titulo2">Bem vindo ao Cadastro de Contatos</span></h1>
</div>
