@{
    ViewData["Title"] = "Pagina principal";
}
<div class="d-flex align-items-center justify-content-center vh-50">
    <div class="titulo3 text-center">
        <img src="@Url.Content("~/images/Contatos.png")" alt="Descrição da imagem" />
        <br>
        <h1 class="display-4"><span class="titulo2">SISTEMA DE CADASTRO DE CONTATOS</span></h1>
    </div>
</div>
