html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px; /* Reduz o tamanho da fonte para telas pequenas */
  }

  .titulo3 {
    width: 100%; /* Ajusta a largura para caber na tela do celular */
    margin: 0 auto; /* Centraliza a borda */
  }

  img {
    width: 100%; /* Ajusta a largura da imagem para caber na tela */
    height: auto; /* Mantém a proporção da imagem */
  }

  .titulo2 {
    font-size: 24px; /* Ajusta o tamanho do texto para telas menores */
  }

  nav {
    margin-bottom: 5px; /* Reduz o espaçamento em telas pequenas */
  }

  .botao {
    height: auto; /* Ajusta a altura para telas pequenas */
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(to bottom, #6e10c6, #c497ff);
}

h1, tr, .container {
  color: antiquewhite;
}

.sub-titulo {
  font-family: "Roboto";
  color: rgb(0, 0, 0);
}

.sub-titulo, .titulo:hover {
  color: rgb(79, 79, 235);
}

.titulo {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.titulo2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  background: linear-gradient(to bottom, #6e10c6);
}

.titulo3 {
  border: 4px solid #ffffff;
  border-radius: 15px;
  width: 500px;
}

img {
  width: 380px;
  height: 480px;
}

.mb-3 {
  font-family: "Roboto", sans-serif;
}

.botao {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 20vh; 
  margin: 0;
}

.validationMs {
  color: red;
}

.close-alert {
  position: absolute;
  right: -10px;
  top: -15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.parag {
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
